@font-face {
    font-family: 'Poppins';
    src: url('/webfonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-family: 'Poppins-Regular';
    src: url('/webfonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

.top-background {
    background-image: url('/images/top-background-8-mobile.jpeg');
    background-size: cover;
    height: 750px;
}

@media (min-width: 925px) {
}