@font-face {
    font-family: 'Poppins';
    src: url('/webfonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-family: 'Poppins-Regular';
    src: url('/webfonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

a {
    font-family: "Poppins-Regular", sans-serif;
    /* color: white; */
    font-size: 1em;
}

#menu-container {
    position: sticky; 
    top: 0;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    background-color: #004259;
    padding: 50px
}